.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 0.5px rgba(255, 255, 255, 0.1);
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: solid 0.5px rgba(255, 255, 255, 0.3);
    background-color: transparent;
}

button:hover {
    background-color: rgba(150, 150, 150, 0.07);
}

.sidebar button img {
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.sidebar button i {
    font-size: 15px;
}

.history {
    height: 100%;
    margin: 10px;
    padding: 3px;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    margin: 1px 0;
    padding: 10px;
    font-size: 14px;
    position: relative;
}

.history li:hover {
    background-color: rgba(150, 150, 150, 0.07);
    border-radius: 7px;
}

.sidebar div p {
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.2);
}